# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build artifacts
*.egg-info/
build/
dist/

# Virtual environment
.venv/

# Test cache
.pytest_cache/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
